*{
    margin:0 ;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    user-select: none;
}
.container{
    width: 100%;
    height: 100vh;
    /* background: #e3f9ff; */
    display: flex ;
    flex-direction: column;
    align-items: center ;
    justify-content:start;
}
.calculator{
    background-color: rgba(194, 190, 190, 0.479);
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0px 2px 5px rgb(117, 117, 126);
}
.calculator form input{
    border: 0px solid;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background: rgba(43, 10, 6, 0.229);
    font-size: 20px;
    color: black;
    cursor: pointer;
    margin: 10px;
    box-shadow: 0px 0px 3px rgb(77, 71, 71);
    transition: all 0.2 linear;
}
.calculator form input:active{
 box-shadow: 0px 0px 1px rgb(77, 71, 71);
}
.display{
    display: flex;
    justify-content: flex-end;
    border-radius: 10px;
    background-color:rgba(43, 10, 6, 0.229);
    margin: 20px 0;
}
form .display input{
    text-align: right;
    color: black;
    background-color: white;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
    overflow: hidden; 
    white-space: nowrap;
}
form .button {
    display: grid;
    grid-template-columns: repeat(4,auto);
}
form button.equal{
    height: 145px; 
    grid-row: span 2;
    background-color: #f37210;
}
button{
     border: 0px solid;
    outline: 0;
    width: 60px;
    height: 60px;
    color: #080808;
    border-radius: 10px;
    font-size: 35px;
    cursor: pointer;
    margin: 10px;
    box-shadow: 0px 0px 4px rgb(77, 71, 71);
    transition: all 0.1s linear;
}
button:active{
 box-shadow: 0px 0px 1px whitesmoke;
}
.operator{
   background-color:#f37210;
}
.button .acde{
    font-weight: bold;
     background-color:#c26924;
}
/* --------------toggle button-------------- */
body{
    background:#fff;
    color:#000;
    font-family:Arial,sans-serif;
    transition:.3s
}
body.dark-mode{
    background:#121212;
    color:#fff;
}
.switch{position:relative;
    display:inline-block;
    width:60px;height:34px;
    margin:20px
}
.switch input{
    opacity:0;
    width:0;
    height:0
}
.slider{
    position:absolute;
    cursor:pointer;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:#ccc;
    transition:.4s;
    border-radius:34px
}
.slider:before{
    content:"";
    position:absolute;
    height:26px;
    width:26px;
    left:4px;
    bottom:4px;
    background:#fff;
    transition:.4s;
    border-radius:50%
}
input:checked+.slider{
    background:#2c4d67
}
input:checked+.slider:before{
    transform:translateX(26px)
}
/* ---------------- Dark Mode ---------------- */
body.dark-mode .calculator {
  background-color: #29292b9a;
}
body.dark-mode .calculator button{
  background-color: rgb(10, 199, 237);
  color: white;
}
body.dark-mode .button input{
    background-color: rgb(29, 52, 57);
    color: #fff;
}
body.dark-mode .button .acde{
    background-color: #0e3858;
}
body.dark-mode form .display input {
  background-color: white;
  color: black;
}
body.dark-mode form .display{
    background-color: rgb(72, 63, 63);
}
/* ----------responsive for small screen------------ */
@media (min-width: 200px) and (max-width: 400px) {
    .container{
        width: 100%;
        height: 100vh;
    }
    .calculator form input{
    width: 50px;
    height: 50px;
    margin: 5px;
    }
    .display{
    margin: 15px 0;
    }
    form .display input{
    font-size: 30px;    
    }   
    button{
    width: 50px;
    height: 50px;
    margin: 5px;
    }
    form button.equal{
    height: 115px; 
    }
}
